@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #666;
}
iframe {
  width: 100vw;
  height: 100vh;
}
#sm {
  display: none;
  visibility: hidden;
}
.container {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}
header {
  margin: 1em;
  padding: 0 1em;
}
.gia {
  max-height: 120px;
  max-width: 450px;
}
#gracias {
  background: url(../images/bkg-elearning.jpg) center top no-repeat;
  background-size: cover;
  padding: 5em 2em 0;
  border-bottom: 30px solid #b49e29;
}
#gracias h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 8vw;
  margin-bottom: 0;
}
#gracias #subtitulo {
  margin-top: 30px;
  border-top: 1px solid white;
}
#gracias h2 {
  color: white;
  font-size: 24px;
  font-weight: 300;
}
#gracias #conference {
  margin-top: 7em;
  background: rgba(0, 0, 0, 0.5);
  padding: 2em;
}
#gracias #conference img {
  margin-bottom: 4em;
}
table {
  width: 100%;
}
table th,
table td {
  border: 2px solid #34495e;
}
table th {
  background: #34495e;
  color: white;
}
table .tg {
  border-collapse: collapse;
  border-spacing: 0;
}
table .tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
table .tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
table .tg .tg-yw4l {
  vertical-align: top;
}
footer {
  color: #666666;
  font-size: 18px;
  padding: 1em;
}
.ghost-btn {
    margin: 5px 10px;
    font-size: 18px;
    padding: 15px;
    background: white;
    color: #063c54;
    border: 2px solid #063C62;
}
@media only screen and (min-width: 48em) {
  #gracias h2 {
    font-size: 32px;
  }
  footer {
    font-size: 21px;
  }
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
